:root {
  /*rgba(40,100,180,0)*/
  --dark-color: #2864B4;
  /*rgba(211,232,255,0)*/
  --light-color: #D3E8FF;
  /*rgba(157,178,45,0)*/
  --highlight-color: #9DB22D;

  --disabled-color: #dddddd;
  --disabled-bgcolor: #666666;

  --muted-color: #666666
}
