html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  padding: 0;
  font-family: "LatoWeb", "OpenSansRegular", sans-serif;
  min-width: 15rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}
