.TextInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
}


.ElementOuter {
  position: relative;
}

.Label {
  position: absolute;
  top: 1.4rem;
  left: 0.5rem;
  line-height: 1rem;
  font-size: 1rem;
  transform-origin: left;
  transition: all 0.3s ease-out;
}

.Element {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3rem 0.5rem 0.3rem 0.5rem;
  outline: 0;
  border: 1px none var(--highlight-color);
  border-bottom-style: solid;
  font-size: 1rem;
  line-height: 1rem;
}

.Invalid {
  background: linear-gradient(105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(-105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(to top, #bb0000, white 30%)
}

.ErrorFeedback {
  width: 100%;
  display: block;
  color: #bb0000;
  font-size: 0.85rem;
  padding: 0.3rem 0.5rem;
}

.InfoTip {
  width: 100%;
  display: block;
  color: var(--muted-color);
  font-size: 0.85rem;
  padding: 0.3rem 0.5rem;
}

.Element:disabled {
  background: linear-gradient(105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(-105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(to top, #bbbbbb, white 60%)
}

.Element:disabled:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 1.5rem;
  width: 10rem;
  content: "";
}

.Element:focus {
  outline: 0;
  border-color: var(--highlight-color);
  box-shadow: 0 4px 2px -2px var(--highlight-color);
}


.LabelLow {
  color: #777;
  cursor: text;
  transform: translateY(0) scale(1);
}

.LabelHigh {
  color: black;
  cursor: default;
  transform: translateY(-1rem) scale(0.6);
}

