.TextInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

i {
  margin-right: 0.3rem;
}

.ElementOuter {
  position: relative;
}

.Label {
  width: 100%;
  position: absolute;
  top: 1.4rem;
  left: 0;
  padding: 0 0.5rem;
  line-height: 1rem;
  font-size: 1rem;
  transform-origin: left;
  transition: all 0.3s ease-out;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.Element {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3rem 0.5rem 0.2rem 0.5rem;
  outline: 0;
  border: 1px none var(--highlight-color);
  border-bottom-style: solid;
  font-size: 1rem;
  line-height: 1rem;
}

.Invalid {
  background: linear-gradient(105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(-105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(to top, rgba(255,0,0,0.6), white 20%);
  text-align: left;
}

.Invalid ~ label {
  color: var(--error-color);
}

.ErrorFeedback {
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: var(--error-color);
  font-size: 0.85rem;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
  text-align: left;
}

.InfoTip {
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: var(--muted-color);
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  text-align: left;
}

.Element:disabled {
  background: linear-gradient(105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(-105deg, white, rgba(0,0,0,0) 30%),
  linear-gradient(to top, #bbbbbb, white 60%)
}

.Element:disabled:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 1.5rem;
  width: 10rem;
  content: "";
}

.Element:focus {
  outline: 0;
  border-color: var(--highlight-color);
  box-shadow: 0 4px 2px -2px var(--highlight-color);
}


.LabelLow {
  color: var(--muted-color);
  cursor: text;
  transform: translateY(0) scale(1);
}

.LabelHigh {
  color: black;
  cursor: default;
  transform: translateY(-1.1rem) scale(0.8);
  padding: 0 0.63rem;
}

