.DashboardWrapper {
  color: black;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 6rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
}

.Dashboard {
  width: 100%;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1rem;
  overflow: auto;
}

.Dashboard p {
  margin: 0;
  padding: 0 1rem 2rem 1rem
}

.ProfileExists button {
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px 1px black;
  padding: 0.25rem 0.5rem;
}

.Title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2rem;
}

@media (min-width: 31.25rem) {
  .DashboardWrapper {
    width: 80%;
  }
  .DashboardWrapper button {
    border-radius: 0.5rem;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .DashboardWrapper {
    width: 60%;
  }
}

@media (min-width: 1800px) {
  .DashboardWrapper {
    width: 40%;
  }
}
