.ProfileAbout {
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
  color: black;
}
.Bio {
  text-align: center;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 1rem;
  border: 1px solid black;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
}

.Skills {
  text-align: center;
  border-radius: 0 0 0.3rem 0.3rem;
  padding: 1rem;
  border: 1px solid black;
  border-top: none;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
}

.Header {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}

.Body {
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
}

.SkillBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.SkillItem {
  background-color: white;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
