.ProfileAbout {
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--dark-color);
}
.Bio, .Skills {
  text-align: center;
  padding: 1rem;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--dark-color);
}

.Bio {
  border-top: 1px solid var(--dark-color);
}

.Header {
  color: white;
  background-color: var(--dark-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0;
  box-shadow: 1px 1px 1px 1px black;
}
.Body {
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
}

.BioBody {
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
  padding: 0.3rem;
  color: black;
}

.SkillBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


@media (min-width: 31.25rem) {
  .Bio, .Skills {
    border: 1px solid var(--dark-color);
  }

  .Bio {
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .Skills {
    border-top: none;
    border-radius: 0 0 0.3rem 0.3rem;
  }
}
