.ProfileWrapper {
  color: black;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1rem;
}

.Profile {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid: "header header"
  "about about"
  "exp exp"
  "edu edu"
  "github github"
        / 1fr 1fr;
  grid-gap: 1rem;
}

.Profile img {
  width: 9rem;
  border-radius: 50%;
}

.Header {
  grid-area: header;
}

.About {
  grid-area: about;
}

.Experience {
  grid-area: exp;
}

.Education {
  grid-area: edu;
}

.Github {
  grid-area: github;
}

.BackButton {
  margin-top: 1rem;
}

.BackButton button {
  width: 100%;
}

@media (min-width: 31.25rem) {
  .ProfileWrapper {
    width: 80%;
    align-items: center;
  }
  .ProfileWrapper button {
    border-radius: 0.5rem;
  }

  .BackButton {
    align-self: flex-start;
    margin-top: 1rem;
  }

  .BackButton button {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .ProfileWrapper {
    width: 60%;
  }

  .Profile {
    grid: "header header"
    "about about"
    "exp edu"
    "github github"
        / 1fr 1fr;
  }
}

@media (min-width: 1800px) {
  .ProfileWrapper {
    width: 40%;
  }
}
