.ProfileGithub {
  padding: 1rem;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
  background-color: var(--light-color);
}

@media (min-width: 31.25rem) {
  .ProfileGithub {
    border: 1px solid var(--dark-color);
    border-radius: 0.3rem;
  }
}

.ProfileGithub i {
  padding: 0;
  margin: 0 0.3rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.Header {
  color: white;
  background-color: var(--dark-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0;
  box-shadow: 1px 1px 1px 1px black;
  text-align: center;
  vertical-align: center;
  position: relative;
}

.Header a {
  display: inline;
  margin: auto;
  position: absolute;
  top: 50%;
}

.Header i {
  transform: translateY(-0.1rem);
}

.Repo {
  padding: 0 0 0 0.4rem;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid var(--dark-color);
  border-radius: 0.3rem;
  box-shadow: 0 0 1px 1px var(--highlight-color);
  background-color: var(--lighter-color);
  display: grid;
  grid: "namelink badges"
        / auto 8rem
}

.NameLink {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0.8rem 0.5rem;
  text-align: center;
  color: var(--dark-color);
  text-decoration: none;
  grid-area: namelink;
  align-self: center;
}

.Description {
  display: none;
  text-align: left;
  font-style: italic;
  grid-area: description;
  padding: 1rem;
}

.Badges {
  grid-area: badges;
  border-radius: 0 0.3rem 0.3rem 0;
}

.Badge {
  padding: 0.3rem;
  border-bottom: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
  background-color: var(--light-color);
}

.Badge:first-child {
  border-radius: 0 0.3rem 0 0;
}

.Badge:last-child {
  border-bottom: none;
  border-radius: 0 0 0.3rem 0;
}

@media (min-width: 900px) {
  .Repo {
    grid: "namelink badges"
    "description description"
        / auto 14rem
  }

  .Description {
    display: block;
  }

  .Badge:last-child {
    border-bottom: 1px solid var(--dark-color);
    border-radius: 0 0 0 0.3rem;
  }
}
