.EditProfileFormWrapper {
  color: black;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1rem;
}

.EditProfileFormWrapper button {
  margin: 1rem 0 2rem 0;
}

.EditProfileForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.Title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2rem 1rem;
}

.InfoTip {
  width: 100%;
  display: block;
  color: var(--muted-color);
  font-size: 0.85rem;
  line-height: 0.85rem;
  padding: 1rem 0.5rem 0.3rem 0.5rem;
  text-align: left;
}

.BackButton {
  margin-top: 1rem;
}

.BackButton button {
  width: 100%;
  margin: 0;
}

@media (min-width: 31.25rem) {
  .EditProfileFormWrapper {
    width: 80%;
    align-items: center;
  }
  .EditProfileFormWrapper button {
    border-radius: 0.5rem;
  }

  .BackButton {
    align-self: flex-start;
    margin-top: 1rem;
  }

  .BackButton button {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .EditProfileFormWrapper {
    width: 60%;
  }
}

@media (min-width: 1800px) {
  .EditProfileFormWrapper {
    width: 40%;
  }
}
