.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Layout > main {
  margin-top: 3rem;
  /*margin: 3rem 0;*/
  flex: 1 0 auto;
  position: relative;
  background-color: black;
}

@media (min-width: 31.25rem) {
  .Layout > main {
    margin-top: 0;
  }
}
