.ProfileItem {
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
  margin: 1rem;
  border: 1px solid black;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid: "avatar name"
  "avatar status"
  "avatar location"
  "avatar link"
        / 4rem auto;
  grid-gap: 0.5rem 1rem
}

.ProfileItem img {
  width: 100%;
  border-radius: 50%;
}

.Avatar {
  grid-area: avatar;
}

.Name {
  grid-area: name;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.Status {
  grid-area: status;
}

.Location {
  grid-area: location;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.LinkToHandle {
  grid-area: link;
}
.LinkToHandle button {
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px 1px black;
  padding: 0.45rem 0.65rem;
}

.SkillsOuter {
  display: none;
  grid-area: skills;
  background-color: var(--dark-color);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.Skills {
  display: flex;
  flex-direction: column;
}

.SkillItem {
  background-color: white;
  margin: 0.1rem;
  padding: 0.2rem;
  border-radius: 0.15rem;
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.SkillsHeader {
  color: var(--light-color);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0.2rem;
}

@media (min-width: 600px) {
  .ProfileItem {
    grid: "avatar name skills"
    "avatar status skills"
    "avatar location skills"
    "avatar link skills"
        / 4rem 6fr 4fr;
  }

  .SkillsOuter {
    display: block;
  }
}
