.Button {
  margin: 0.3rem;
  padding: 0.75rem 1rem;
  color: #444;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
}

button.Button:focus {
  outline: none;
}

button.Button:disabled {
  color: var(--disabled-color);
  background-color: var(--disabled-bgcolor);
  box-shadow: 0 1px 1px 1px black;
}

button.Primary {
  color: white;
  background-color: var(--dark-color);
  border: none;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s ease-out;
}

button.Primary:not(:disabled):active {
  box-shadow: inset 0 2px 2px 2px black;
}

button.Primary:not(:disabled):hover {
  background-color: var(--highlight-color);
  box-shadow: 0 2px 2px 2px black;
}

button.Primary:not(:disabled):active:hover {
  background-color: var(--highlight-color);
  box-shadow: inset 0 2px 2px 2px black;
}

button.Secondary {
  color: black;
  background-color: var(--light-color);
  border: none;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s ease-out;
}

button.Secondary:not(:disabled):active {
  box-shadow: inset 0 2px 2px 2px black;
}

button.Secondary:not(:disabled):hover {
  color: white;
  background-color: var(--dark-color);
  box-shadow: 0 2px 2px 2px black;
}

button.Secondary:not(:disabled):active:hover {
  color: white;
  background-color: var(--dark-color);
  box-shadow: inset 0 2px 2px 2px black;
}

button.Highlight {
  color: white;
  background-color: var(--highlight-color);
  border: none;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s ease-out;
}

button.Highlight:not(:disabled):active {
  box-shadow: inset 0 2px 2px 2px black;
}

button.Highlight:not(:disabled):hover {
  background-color: var(--dark-color);
  box-shadow: 0 2px 2px 2px black;
}

button.Highlight:not(:disabled):active:hover {
  background-color: var(--dark-color);
  box-shadow: inset 0 2px 2px 2px black;
}

button.Danger {
  color: var(--highlight-color);
  font-weight: bold;
  background-color: var(--error-color);
  border: none;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s ease-out;
}

button.Danger:not(:disabled):active {
  box-shadow: inset 0 2px 2px 2px black;
}

button.Danger:not(:disabled):hover {
  color: var(--error-color);
  background-color: var(--highlight-color);
  box-shadow: 0 2px 2px 2px black;
}

button.Danger:not(:disabled):active:hover {
  color: var(--error-color);
  background-color: var(--highlight-color);
  box-shadow: inset 0 2px 2px 2px black;
}

button.Button:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
