.ProfileCreds {
  padding: 1rem;
  background-color: var(--light-color);
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}

.Header {
  color: white;
  background-color: var(--dark-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0;
  box-shadow: 1px 1px 1px 1px black;
  text-align: center;
}

.List {
  padding: 0;
}

.ListItem {
  list-style: none;
  padding: 0.4rem;
  margin: 0.5rem;
  border: 1px solid var(--dark-color);
  border-radius: 0.3rem;
  box-shadow: 0 0 1px 1px var(--highlight-color);
  background-color: var(--lighter-color);
}

.ListItemHeader {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--dark-color);
}

.Years {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.BottomMargin {
  margin-bottom: 0.5rem;
}

.Smaller {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.HighlightedBorder {
  border: 1px solid var(--highlight-color);
}

.HighlightedText {
  color: var(--highlight-color);
}

@media (min-width: 31.25rem) {
  .ProfileCreds {
    border: 1px solid var(--dark-color);
    border-radius: 0.3rem;
  }
}
